:root {
  /* change to 'none' to remove all testing borders */

  /* original setting => solid */
  --border-setting: none;
  /* original setting => dotted */
  --dot-border-setting: none;

  --blue-circle-position-top: 100px;
  --blue-circle-position-right: 0px;
  --blue-circle-width: 300px;
  --blue-circle-height: 300px;

  --orange-circle-position-bottom: 200px;
  --orange-circle-position-left: -70px;
  --orange-circle-width: 400px;
  --orange-circle-height: 400px;

  --yellow-circle-position-bottom: 0px;
  --yellow-circle-position-right: -20px;
  --yellow-circle-width: 500px;
  --yellow-circle-height: 500px;
}

.palette {
  color: #3cd8ff;
  color: #ff8800;
  color: #ffea00;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #266382;
  font-family: "ABeeZee", sans-serif;
}

#first-page{
  animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-image: linear-gradient(to bottom right, #3cd8ff 15% , #266382 60% );
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

#splash{
  animation: spinLogoAnimation ease 2s;
    animation-iteration-count: 8;
    animation-fill-mode: forwards;
}

@keyframes spinLogoAnimation {
  0% { 
    transform: rotate(0deg);
  }
  40%{
    transform: rotate(180deg);
  }
  80% {
    transform: rotate(359deg);
   }
   100%{
    transform: rotate(359deg);
   }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.outline {
  border: 2px solid rgba(0, 0, 0, 90%);
}

@media (max-width: 700px) {
  .text-box {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #266382;
    border-radius: 30px;
    border-color: #ffffff;
    border-style: solid;
  }

  .splash-logo{
    width: 30vw;
    height: auto;
  }

  .nav-spacer {
    /* background-color: #000; */
    width: 100%;
    height: 30vh;
  }

  #hero-letters {
    margin-top: 10px;
    background-color: #00ccff00;
    border-radius: 10px;
    /* border-color: #ffffff ; */
    /* border-style: solid; */
    box-shadow: 0px 2px 5px black;
  }
  .small {
    height: 6vw;
    min-height: 45px;
  }
  .medium {
    height: 6vw;
    min-height: 45px;
  }
  .large {
    height: 8vw;
    min-height: 45px;
  }
  .small:hover {
    transform: rotate(0deg);
  }
  .medium:hover {
    transform: rotate(0deg);
  }
  .large:hover {
    transform: rotate(0deg);
  }

  .letter-box {
    width: 95vw;
  }

  .lillyPad {
    visibility: hidden;
    width: 150vw;
    height: auto;
    position: absolute;
    top: 300px;
    left: -350px;
  }

  .a-leaf {
    width: 150vw;
    height: auto;
    position: absolute;
    top: 450px;
    left: -200px;
    transform: rotate(50deg);
  }

  .leftleaf {
    display: none;
  }

  .full-leaf {
    position: absolute;
    width: 150vw;
    height: auto;
    max-width: 500px;
    left: -200px;
    top: -100px;
    z-index: 0;
    transform: rotate(-20deg);
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .text-box {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #266382;
    border-radius: 30px;
    border-color: #ffffff;
    border-style: solid;
  }

  .splash-logo{
    width: 30vw;
    height: auto;
  }

  .nav-spacer {
    /* background-color: #000; */
    width: 100%;
    height: 30vh;
  }

  .small {
    height: 5vh;
  }
  .medium {
    height: 6vh;
  }
  .large {
    height: 8vh;
    margin-top: 20px;
  }

  .letter-box {
    width: 78vh;
  }

  .lillyPad {
    width: 95vh;
    height: auto;
  }

  .leftleaf {
    display: none;
  }
  .full-leaf {
    position: absolute;
    width: 100vw;
    height: auto;
    left: -300px;
    top: -200px;
    z-index: 0;
    transform: rotate(-18deg);
  }
}

@media (min-width: 1025px) {


  .splash-logo{
    width: 10vw;
    height: auto;
  }

  .text-box{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #266382;
    border-radius: 30px;
    border-color: #ffffff;
    border-style: solid;
  }

  .nav-spacer {
    /* background-color: #000; */
    width: 100%;
    height: 35vh;
  }

  .small {
    height: 6vh;
  }
  .medium {
    height: 7vh;
  }
  .large {
    height: 9vh;
  }

  .break-space {
    height: 6vh;
  }

  .letter-box {
    width: 78vh;
  }

  .lillyPad {
    width: 95vh;
    height: auto;
  }
  .leftleaf {
    position: absolute;
    top: 5px;
    right: -140px;
    z-index: -1;
  }
  .full-leaf {
    position: absolute;
    width: 100vw;
    height: auto;
    max-width: 1000px;
    left: -350px;
    top: -200px;
    z-index: 0;
    transform: rotate(0deg);
  }
}

* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
 
}
nav {
  height: 6rem;
  width: 100vw;
  /* background-image: linear-gradient(to right, #3cd8ff 14% , #266382 14% ); */
  /* box-shadow: 100px 3px 20px rgba(0, 0, 0, 0.2); */
  background-color: #266382;
  /* background-color: #3cd8ff; */
  display: flex;
  position: fixed;
  z-index: 1000;
  color: #f2f5f7;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  box-shadow: 0px 5px 15px #00000036;
}

/* styling div containers like torn paper */

.torn-top {
  background: white;
  clip-path: url(#path);
}

.torn-paper-shadow {
  filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.438));
}

/*Styling logo*/
.logo {
  text-align: center;
  width: 200px;
  z-index: 2000;
}
.logo img {
  height: 4rem;
  width: 4rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
}
.nav-links li a:hover {
  color: #ff8800;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61dafb;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

.logo {
  display: block;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 1000;
  }

  .logo {
    display: block;
    z-index: 2000;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 1001;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* for testing purposes, these are great for visualising elements  */

.border-green {
  border: 4px var(--border-setting) green;
}
.border-red {
  border: 4px var(--border-setting) red;
}
.border-yellow {
  border: 4px var(--border-setting) yellow;
}
.border-blue {
  border: 4px var(--border-setting) blue;
}
.border-purple {
  border: 4px var(--border-setting) purple;
}

.dot-border-green {
  border: 4px var(--dot-border-setting) green;
}
.dot-border-red {
  border: 4px var(--dot-border-setting) red;
}
.dot-border-yellow {
  border: 4px var(--dot-border-setting) yellow;
}
.dot-border-blue {
  border: 4px var(--dot-border-setting) blue;
}
.dot-border-purple {
  border: 4px var(--dot-border-setting) purple;
}

/* styling for we are done with section of about  */

.orange-square {
  border-radius: 25px;
  background: #ff8800;
  box-shadow: 0px 3px 8px black;
  width: 20vw;
  min-width: 250px;
  height: auto;
  min-height: 250px;
  position: relative;
}

.center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

.png-shadow {
  -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
}

.orange-square-header {
  background: #ffea00;
  border-radius: 15px 15px 1px 1px;
  padding: 5px 50px;
  box-shadow: 0px -1px 1px #ffe600;
  top: -15px;
}

.yellow-square-footer {
  color: #ff8800;
  background: #ffea00;
  border-radius: 15px 15px 1px 1px;
  padding: 5px 20px;
  bottom: -16px;
}

.Yellow-border {
  border-color: #ffe600;
  border-style: solid;
  border-radius: 15px;
  border-width: 10px;
}

.orange-square-footer {
  color: #ffea00;
  background: #ff8800;
  border-radius: 15px 15px 1px 1px;
  padding: 5px 20px;
  bottom: -16px;
}

.orange-border {
  border-color: #ff8800;
  border-style: solid;
  border-radius: 15px;
  border-width: 10px;
}

.spikey-1 {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, -50%);
}

.spikey-2 {
  position: absolute;
  left: 35%;
  bottom: 15px;
  transform: translate(-50%, -50%) rotate(-20deg);
}

.spikey-3 {
  position: absolute;
  left: 35%;
  bottom: 60px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.spikey-4 {
  position: absolute;
  left: 65%;
  bottom: 6px;
  transform: translate(-50%, -50%) rotate(30deg);
}

.spikey-5 {
  position: absolute;
  left: 15%;
  bottom: 30px;
  transform: translate(-50%, -50%) rotate(-80deg);
}

.spikey-6 {
  position: absolute;
  left: 30%;
  bottom: 120px;
  transform: translate(-50%, -50%) rotate(-10deg);
}

.spikey-7 {
  position: absolute;
  left: 32%;
  bottom: 160px;
  transform: translate(-50%, -50%) rotate(-5deg);
}

.spikey-8 {
  position: absolute;
  left: 79%;
  bottom: 140px;
  transform: translate(-50%, -50%) rotate(60deg);
}

.spikey-box {
  --mask: linear-gradient(#000 0 0) center/calc(100% - 10px) calc(100% - 10px)
      no-repeat,
    conic-gradient(from 135deg at top, #0000, #000 1deg 89deg, #0000 90deg) 0 0 /10px
      5px space no-repeat,
    conic-gradient(from -45deg at bottom, #0000, #000 1deg 89deg, #0000 90deg) 0
      100%/10px 5px space no-repeat,
    conic-gradient(from 45deg at left, #0000, #000 1deg 89deg, #0000 90deg) 0 0 /5px
      10px no-repeat space,
    conic-gradient(from -135deg at right, #0000, #000 1deg 89deg, #0000 90deg)
      100% 0/5px 10px no-repeat space;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  background: #ffea00;
  padding: 10px 15px;
}

.bubble-box {
  --mask: linear-gradient(#000 0 0) 50% / calc(100% - 7.4px) calc(100% - 7.4px)
      no-repeat,
    radial-gradient(farthest-side, #000 98%, #0000) 0 0/8px 8px round;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  background: #ffea00;
  padding: 10px 15px;
}

.stubble-box {
  --mask: radial-gradient(4px at 25% 0, #0000 98%, #000) 50% 4px/16px 51%
      repeat-x,
    radial-gradient(4px at 75% 50%, #000 99%, #0000 101%) top/16px 8px repeat-x,
    radial-gradient(4px at 75% 100%, #0000 98%, #000) 50% calc(100% - 4px) /
      16px 51% repeat-x,
    radial-gradient(4px at 25% 50%, #000 99%, #0000 101%) bottom/16px 8px
      repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  background: #ffea00;
  padding: 10px 15px;
}

.odd-backdrop {
  background-color: #2a25b600;
}

.project-explain {
  
  padding: 10px;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: #212121;
}

.project-explain-subtitle{
  padding: 10px;
}

.abt-paper {
  background-image: url("../public/images/paper_backdrop.jpg");
}

.shaddow {
  box-shadow: 0px 5px 15px #000000;
}

.shaddow3 {
  box-shadow: 2px 6px 6px #00000082;
}
.shaddow2 {
  box-shadow: 2px 3px 2px #000000cb;
}
.shaddow1 {
  box-shadow: 1px 5px 4px #000000bd;
}

.blue-cutout {
  background-color: #ffe60034;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 500px;
  box-shadow: 0px 5px 15px #000000;
}

.card-support {
  position: relative;
  background-color: rgb(255, 255, 255);
  max-width: 400px;
  width: 90vw;
  height: 300px;
  border-radius: 20px;
}

.form-box {
  width: 100%;
}

.form-feild {
  width: 80% !important;
}

.bottom-button {
  width: 50%;
  height: 60px;
  margin-top: 10%;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.yel-back {
  background-color: #ffe600;
  border-style: solid;
  border-color: #ff8800;
  border-width: 2px;
}

.orange-back {
  background-color: #ff8800;
  border-style: solid;
  border-color: #ffe600;
  border-width: 2px;
}

.top-gap {
  margin-top: 75px;
}

.card-support-heading {
  padding-top: 20%;
}

.bottom-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.sup-patreaon {
  height: 100%;
  width: auto;
  padding: 3px;
}

.flex-y-center {
  align-self: center;
}

.dev-card-image {
  width: 200px;
  position: absolute;
  top: -20%;
  transform: rotate(5deg);
}

.ads-card-image {
  width: 200px;
  position: absolute;
  top: -20%;
  left: -15px;
  transform: rotate(-10deg);
}

.splat {
  transition: 0.8s;
}

.splat:hover {
  transform: scaleX(1.5);
}

.collapsible {
  background-color: #ff8800;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0px -3px 5px 0px #1314188e;
}

.content-padding {
  padding-top: 100px;
}

.active,
.collapsible:hover {
  background-color: #ffa200;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  width: 95%;
  margin: auto;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.bestleaf {
  position: absolute;
  width: 200vw;
  height: auto;
  max-width: 600px;
  left: -300px;
  top: -500px;
  z-index: -1;
  transform: rotate(-40deg);
}

#video {
  width: 50vw;
  min-width: 280px;
  height: 500px;
  border-radius: 30px;
}

.btn-1 {
  position: relative;
  width: 70%;
  min-width: 215px;
  height: 55px;
  min-height: 55px;
  background-image: linear-gradient(to bottom right, #ff7700 20%, #ffea00 100%);
  border-radius: 50px;
  cursor: pointer;
}

.support_card {
  background-color: #ffffff00;

  width: 1000px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
}

#clickhere {
  position: relative;
  cursor: pointer;
  display: flex;

  margin-top: 5px;
  margin-bottom: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 25px;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
}

.warningtext {
  color: red;
  letter-spacing: 6px;
}

/* START BLUE CIRCLE!! ---------------------------------------------------------------------------- */
/* positioning is controlled by variables in the root */

.ripple-for-circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.ripple-mask {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 100%;
}

.top-circle {
  position: absolute;

  border-radius: 50%;
  z-index: 1;
}

/* END BLUE CIRCLE!! ---------------------------------------------------------------------------- */

#blue-circle {
  top: var(--blue-circle-position-top);
  right: var(--blue-circle-position-right);
  background-color: #3cd8ff;
  height: var(--blue-circle-height);
  width: var(--blue-circle-width);
  transform: translate(50%, -50%);
}

#blue-ripple {
  height: var(--blue-circle-height);
  width: var(--blue-circle-width);
  background-color: #3cd8ff;
  top: var(--blue-circle-position-top);
  right: var(--blue-circle-position-right);
  animation: blue-rippling 24s ease-out infinite;
  transform: translate(50%, -50%);
}

@keyframes blue-rippling {
  0% {
    width: var(--blue-circle-width);
    height: var(--blue-circle-height);
    opacity: 100%;
    color: #266382;
  }

  25% {
    width: 600px;
    height: 600px;
    opacity: 0%;
    color: #ffffff;
  }
  100% {
    opacity: 0%;
  }
}

#blue-mask {
  background-color: #266382;
  width: 90%;
  height: 90%;
  animation: blue-rippling-mask 12s ease-out infinite;
}

@keyframes blue-rippling-mask {
  0% {
    width: 90%;
    height: 90%;
  }

  25% {
    width: 99%;
    height: 99%;
  }
}

/* ORANGE CIRCLE START -------------------------------------------------------- */

#orange-circle {
  bottom: var(--orange-circle-position-bottom);
  left: var(--orange-circle-position-left);
  background-color: #ff8800;
  height: var(--orange-circle-height);
  width: var(--orange-circle-width);
  transform: translate(-50%, 50%);
}

#orange-ripple {
  height: var(--orange-circle-height);
  width: var(--orange-circle-width);
  background-color: #ff8800;
  bottom: var(--orange-circle-position-bottom);
  left: var(--orange-circle-position-left);
  animation: orange-rippling 18s ease-out infinite;
  transform: translate(-50%, 50%);
}

@keyframes orange-rippling {
  0% {
    width: var(--orange-circle-width);
    height: var(--orange-circle-height);
    opacity: 100%;
    color: #ff8800;
  }

  25% {
    width: 700px;
    height: 700px;
    opacity: 0%;
    color: #ffffff;
  }
  100% {
    opacity: 0%;
    color: #ffffff;
  }
}

#orange-mask {
  background-color: #266382;
  width: 90%;
  height: 90%;
  animation: orange-rippling-mask 18s ease-out infinite;
}

@keyframes orange-rippling-mask {
  0% {
    width: 90%;
    height: 90%;
  }

  25% {
    width: 99%;
    height: 99%;
  }
}

/* yellow CIRCLE START -------------------------------------------------------- */
#yellow-circle-ring-mask {
  background-color: #266382;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  opacity: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* transform:translate(50%,50%); */
}

#yellow-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: var(--yellow-circle-position-bottom);
  right: var(--yellow-circle-position-right);
  background-color: #ffea00;
  height: var(--yellow-circle-height);
  width: var(--yellow-circle-width);
  transform: translate(50%, 50%);
}

#yellow-ripple {
  height: var(--yellow-circle-height);
  width: var(--yellow-circle-width);
  background-color: #ffea00;
  bottom: var(--yellow-circle-position-bottom);
  right: var(--yellow-circle-position-right);
  animation: yellow-rippling 33s ease-out infinite;
  transform: translate(50%, 50%);
}

@keyframes yellow-rippling {
  0% {
    width: var(--yellow-circle-width);
    height: var(--yellow-circle-height);
    opacity: 100%;
  }

  15% {
    width: 700px;
    height: 700px;
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

#yellow-mask {
  background-color: #266382;
  width: 90%;
  height: 90%;
  animation: yellow-rippling-mask 33s ease-out infinite;
}

@keyframes yellow-rippling-mask {
  0% {
    width: 90%;
    height: 90%;
  }

  15% {
    width: 99%;
    height: 99%;
   
  }
}

/* I just said no more scroll bar */

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  
}
 
::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0); 
  
}
