:root {
  /* change to 'none' to remove all testing borders */

  /* original setting => solid */
  --border-setting: none;
  /* original setting => dotted */
  --dot-border-setting: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #00ceff;
  font-family: "ABeeZee", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.outline {
  border: 2px solid rgba(0, 0, 0, 90%);
}

@media (max-width: 700px) {
  .small {
    height: 6vw;
    min-height: 45px;
  }
  .medium {
    height: 6vw;
    min-height: 45px;
  }
  .large {
    height: 8vw;
    min-height: 45px;
  }
  .small:hover{
    transform: rotate(0deg);
  }
  .medium:hover{
    transform: rotate(0deg);
  }
  .large:hover{
    transform: rotate(0deg);
  }

  .letter-box {
    width: 95vw;
  }

  .lillyPad {
    visibility: hidden;
    width: 150vw;
    height: auto;
    position: absolute;
    top: 300px;
    left: -350px;
  }

  .a-leaf{
    
    width: 150vw;
    height: auto;
    position: absolute;
    top: 450px;
    left: -200px;
    transform: rotate(50deg);
  }

  .leftleaf{

    position: absolute;
    top: -200px;
    z-index: -1;
  }

  .full-leaf{
    position: absolute;
    width: 200vw;
    height: auto;
    max-width: 600px;
    left: -200px;
    top: -100px;
    z-index: 0;
    transform: rotate(-20deg);
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .small {
    height: 5vh;
  }
  .medium {
    height: 6vh;
  }
  .large {
    height: 8vh;
    margin-top: 20px;
  }
  

  .letter-box {
    width: 78vh;
  }

  .lillyPad {
    width: 95vh;
    height: auto;
  }
  
  .leftleaf{

    position: absolute;
    top: -200px;
    z-index: -1;
  }
  .full-leaf{
    position: absolute;
    width: 100vw;
    height: auto;
    left: -300px;
    top: -200px;
    z-index: 0;
    transform: rotate(-18deg);
    
  }
}

@media (min-width: 1025px) {
  .small {
    height: 6vh;
  }
  .medium {
    height: 7vh;
  }
  .large {
    height: 9vh;
  }

  .break-space {
    height: 6vh;
  }

  .letter-box {
    width: 78vh;
  }

  .lillyPad {
    width: 95vh;
    height: auto;
  }
  .leftleaf{

    position: absolute;
    top: 5px;
    right: -210px;
    z-index: -1;
  }
  .full-leaf{
    position: absolute;
    width: 100vw;
    height: auto;
    max-width: 1000px;
    left: -350px;
    top: -200px;
    z-index: 0;
    transform: rotate(0deg);
    
  }
  
}




* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
nav {
  height: 6rem;
  width: 100vw;
  background-color: #00ceff;
  /* box-shadow: 100px 3px 20px rgba(0, 0, 0, 0.2); */
  /* background-color: ; */

  display: flex;
  position: fixed;
  z-index: 1000;
  color: #f2f5f7;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  box-shadow:  0px 5px 15px #00000036 ;
}

/* styling div containers like torn paper */

.torn-top {
  background: white;
  clip-path: url(#path);
}

.torn-paper-shadow {
  filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.438));
}

/*Styling logo*/
.logo {
  text-align: center;
  width: 200px;
  z-index: 2000;
}
.logo img {
  height: 4rem;
  width: 4rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
}
.nav-links li a:hover {
  color: #ff8800;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61dafb;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

.logo {
  display: block;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 1000;
  }

  .logo {
    display: block;
    z-index: 2000 ;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 1001;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* for testing purposes, these are great for visualising elements  */

.border-green {
  border: 4px var(--border-setting) green;
}
.border-red {
  border: 4px var(--border-setting) red;
}
.border-yellow {
  border: 4px var(--border-setting) yellow;
}
.border-blue {
  border: 4px var(--border-setting) blue;
}
.border-purple {
  border: 4px var(--border-setting) purple;
}

.dot-border-green {
  border: 4px var(--dot-border-setting) green;
}
.dot-border-red {
  border: 4px var(--dot-border-setting) red;
}
.dot-border-yellow {
  border: 4px var(--dot-border-setting) yellow;
}
.dot-border-blue {
  border: 4px var(--dot-border-setting) blue;
}
.dot-border-purple {
  border: 4px var(--dot-border-setting) purple;
}

/* styling for we are done with section of about  */

.orange-square {
  border-radius: 25px;
  background: #ff8800;
  box-shadow: 0px 3px 8px black;
  width: 20vw;
  min-width: 250px;
  height: auto;
  min-height: 250px;
  position: relative;
}

.center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

.png-shadow {
  -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
}

.orange-square-header {
  background: #ffea00;
  border-radius: 15px 15px 1px 1px;
  padding: 5px 50px;
  box-shadow: 0px -1px 1px #ffe600;
  top: -15px;
}

.yellow-square-footer {
  color: #ff8800;
  background: #ffea00;
  border-radius: 15px 15px 1px 1px;
  padding: 5px 20px;
  bottom: -16px;
}

.Yellow-border {
  border-color: #ffe600;
  border-style: solid;
  border-radius: 15px;
  border-width: 10px;
}

.orange-square-footer {
  color: #ffea00;
  background: #ff8800;
  border-radius: 15px 15px 1px 1px;
  padding: 5px 20px;
  bottom: -16px;
}

.orange-border {
  border-color: #ff8800;
  border-style: solid;
  border-radius: 15px;
  border-width: 10px;
}

.spikey-1 {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, -50%);
}

.spikey-2 {
  position: absolute;
  left: 35%;
  bottom: 15px;
  transform: translate(-50%, -50%) rotate(-20deg);
}

.spikey-3 {
  position: absolute;
  left: 35%;
  bottom: 60px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.spikey-4 {
  position: absolute;
  left: 65%;
  bottom: 6px;
  transform: translate(-50%, -50%) rotate(30deg);
}

.spikey-5 {
  position: absolute;
  left: 15%;
  bottom: 30px;
  transform: translate(-50%, -50%) rotate(-80deg);
}

.spikey-6 {
  position: absolute;
  left: 30%;
  bottom: 120px;
  transform: translate(-50%, -50%) rotate(-10deg);
}

.spikey-7 {
  position: absolute;
  left: 32%;
  bottom: 160px;
  transform: translate(-50%, -50%) rotate(-5deg);
}

.spikey-8 {
  position: absolute;
  left: 79%;
  bottom: 140px;
  transform: translate(-50%, -50%) rotate(60deg);
}

.spikey-box {
  --mask: linear-gradient(#000 0 0) center/calc(100% - 10px) calc(100% - 10px)
      no-repeat,
    conic-gradient(from 135deg at top, #0000, #000 1deg 89deg, #0000 90deg) 0 0 /10px
      5px space no-repeat,
    conic-gradient(from -45deg at bottom, #0000, #000 1deg 89deg, #0000 90deg) 0
      100%/10px 5px space no-repeat,
    conic-gradient(from 45deg at left, #0000, #000 1deg 89deg, #0000 90deg) 0 0 /5px
      10px no-repeat space,
    conic-gradient(from -135deg at right, #0000, #000 1deg 89deg, #0000 90deg)
      100% 0/5px 10px no-repeat space;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  background: #ffea00;
  padding: 10px 15px;
}

.bubble-box {
  --mask: linear-gradient(#000 0 0) 50% / calc(100% - 7.4px) calc(100% - 7.4px)
      no-repeat,
    radial-gradient(farthest-side, #000 98%, #0000) 0 0/8px 8px round;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  background: #ffea00;
  padding: 10px 15px;
}

.stubble-box {
  --mask: radial-gradient(4px at 25% 0, #0000 98%, #000) 50% 4px/16px 51%
      repeat-x,
    radial-gradient(4px at 75% 50%, #000 99%, #0000 101%) top/16px 8px repeat-x,
    radial-gradient(4px at 75% 100%, #0000 98%, #000) 50% calc(100% - 4px) /
      16px 51% repeat-x,
    radial-gradient(4px at 25% 50%, #000 99%, #0000 101%) bottom/16px 8px
      repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  background: #ffea00;
  padding: 10px 15px;
}

.project-explain {
  text-align: center;
  width: 100%;
  max-width: 800px;
  border-style: solid;
border-color: #ffFFFF;
padding: 10px ;
border-width: 10px ;
background-color: #ff880096;
border-radius: 5px;
box-shadow:  0px 5px 15px #000000 ;
}

.abt-paper {
  background-image: url("../public/images/paper_backdrop.jpg");
}

.blue-cutout {
  background-color: #ffe60034;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
 font-weight: bold;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
  max-width: 500px;
  box-shadow:  0px 5px 15px #000000 ;
}

.nav-spacer{
  /* background-color: #000; */
  width: 100%;
  height: 25vh;
}

.card-support {
  position: relative;
  background-color: rgb(255, 255, 255);
  max-width: 400px;
  width: 90vw;
  height: 300px;
  border-radius: 20px;
}

.bottom-button {
 
  width: 50%;
  height: 60px;
  margin-top: 10%;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.yel-back {
background-color: #ffe600;
border-style: solid;
border-color: #ff8800;
border-width: 2px;
}

.orange-back {
background-color: #ff8800;
border-style: solid;
border-color:#ffe600;
border-width: 2px;
}

.top-gap {
  margin-top: 75px ;
}

.card-support-heading {
  padding-top: 20% ;

}

.bottom-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}


.sup-patreaon {
height: 100%;
width: auto;
padding: 3px;
}

.flex-y-center {
  align-self: center;
}

.dev-card-image {
width: 200px;
position: absolute;
top: -20%;
transform: rotate(5deg);
}

.ads-card-image {
  width: 200px;
  position: absolute;
  top: -20%;
  left: -15px;
  transform: rotate(-10deg);
  }


 


  .splat{
    transition: .8s;
  }
  
  .splat:hover{
    transform:scaleX(1.5);
  }






  .collapsible {
    background-color: #ff8800;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow:  0px -3px 5px 0px #1314188e;
  }
  
.content-padding {
  padding-top: 100px;
}

  .active, .collapsible:hover {
    background-color: #ffa200;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    width: 95%;
    margin: auto;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    
  }

  .bestleaf{
    position: absolute;
    width: 200vw;
    height: auto;
    max-width: 600px;
    left: -300px;
    top: -500px;
    z-index: -1;
    transform: rotate(-40deg);
  }
  

  #video{
    width: 80%;
    height:500px;
  }

  #clickhere{
    cursor: pointer;
    border-bottom: #00ceff;
    border-top: #00000000;
    border-left: #00000000;
    border-right: #00000000;
    border-style: solid;
  }

  #clickhere:hover{
    cursor: pointer;
    border-bottom: #61dafb;
    border-top: #00000000;
    border-left: #00000000;
    border-right: #00000000;
    border-style: solid;
  }

  .warningtext{
    color: red;
    letter-spacing: 6px;
  }