html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #d0cfbb;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 700px) {
  .small {
    height: 10px;
    margin-top: 8px;
  }
  .medium {
    height: 15px;
    margin-top: 4px;
  }
  .large {
    height: 20px;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .small {
    height: 30px;
    margin-top: 20px;
  }
  .medium {
    height: 40px;
    margin-top: 50px;
  }
  .large {
    height: 70px;
  }
}

@media (min-width: 1025px) {
  .small {
    height: 50px;
    margin-top: 20px;
  }
  .medium {
    height: 60px;
    margin-top: 10px;
  }
  .large {
    height: 70px;
  }
}
